{deps, [{erlang_ale, ".*", {git, "https://github.com/esl/erlang_ale.git", "master"}},
        {emqttc, ".*", {git, "https://github.com/emqtt/emqttc.git", "master"}},
        {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", "master"}}]}.
{post_hooks, [{"linux", compile, "./relhelper.sh"}]}.
{eunit_opts, [verbose]}.
%% define STANDALONE for NERVES build
%% {erl_opts, [{d, 'STANDALONE'}]}.
